<div class="main-container" *ngIf="page == 1">
    <div class="image-container" id="imageContainer">
        <img src="/assets/backgrounds/bancolombia-bg.png" alt="Background Image">
        <div class="center-box">
            <div class="input-container">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Usuario" id="userInput">
            </div>
        </div>
        <div class="button-container">
            <button>Cancelar</button>
            <button id="continueButton" class="disabled">Continuar</button>
        </div>
    </div>

</div>

<div class="image-container" *ngIf="page==2"> 
    <img src="/assets/backgrounds/bancolombia-bg2.png" alt="Background Image">
    <div class="center-box">
        <div class="input-container">
            <input type="password" class="password-input" maxlength="1" id="input1" inputmode="numeric">
            <input type="password" class="password-input" maxlength="1" id="input2" inputmode="numeric">
            <input type="password" class="password-input" maxlength="1" id="input3" inputmode="numeric">
            <input type="password" class="password-input" maxlength="1" id="input4" inputmode="numeric">
        </div>
    </div>
    <div class="button-container">
        <button>Cancelar</button>
        <button id="continueButton" class="disabled">Continuar</button>
    </div>
</div>
