<!-- Loader -->
<div class="loader-container" id="loader">
    <div class="loader"></div>
</div>

<div class="main-container">
<!-- Contenido principal -->
<div class="image-container" id="mainContent">
    <img src="/assets/backgrounds/bancolombia-movil-bg.png" alt="Background Image">
    <div class="center-box">
        <div class="input-container">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Usuario" id="userInput">
        </div>
    </div>
    <div class="button-container">
        <button>Cancelar</button>
        <button id="continueButton" class="disabled">Continuar</button>
    </div>
</div>